// @mixin notifications($background-color, $color, $border) {
//   width: 99%;
//   height: 35px;
//   text-align: center;
//   padding-top: 10px;
//   font-size: 1.2em;
//   font-family: Verdana;
//   border-radius: 3px;
//   margin: 10px;
//   background-color: $background-color;
//   color: $color;
//   border: $border;
// }

// .error {
//   @include notifications($background-color: rgb(0, 255, 170), $color: white, $border: 1px solid white);
// }


// .success {
//   @include notifications($background-color: rgb(17, 0, 255,), $color: mintcream, $border: 1px solid salmon); 
// }

$off-white: #f6f6f6;
$featured-color: rgb(255, 0, 149); // I can put the default and if the variable does not establish it, apply the style;

@mixin heading-feature-styling {
  $featured-color: darkred !default; //Dinamyc variable create to set default values;
  color: $featured-color;
}

@mixin section-feature-styling {
  $featured-color: darkred !default;
  background-color: $featured-color;
  padding: 42px;
  color: $off-white;
}

body {
  background-color: $off-white;
  height: 100vh;
  height: 100vw;
}

.container {
  font-family: Verdana;
  font-size: 1.2rem;
}

.page-wrapper {  //Nesting allows you to acces elements the same way from DOM;
  padding: 21px;

  .featured {  //Featured & page content are nested within page wrapper but the are no connected;
    @include heading-feature-styling;
    .subheading a {
      color: cornflowerblue;   
      text-decoration: none;
      & :hover {
        color: black;
        text-decoration: underline;
      }
    }
  }

  .page-content {

    @include section-feature-styling;
    .container {
    font-family: courier;
    }
  }
}

